.title {
    font-family: Federation Bold;
    font-style: normal;

    align-self: flex-start;
}

.h1 {
    font-size: 96px;
    font-family: Federation Bold;
    line-height: 140px;
}

.h2 {
    font-size: 36px;
    font-weight: normal;
}

.h3 {
    font-size: 36px;
    font-weight: normal;
    margin: 20px;
}

.h4 {
    font-size: 72px;
    font-family: Federation Bold;
    line-height: 80px;
}

@media screen and (max-width: 1280px) {
    .h1 {
        font-size: 72px;
        line-height: 96px;
    }
}

@media screen and (max-width: 480px) {
    .h1 {
        font-size: 48px;
        line-height: 76px;
    }

    .h2 {
        font-size: 24px;
    }

    .h3 {
        font-size: 24px;
    }

    .h4 {
        font-size: 36px;
        line-height: 42px;
    }
}