.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 70px;
}

.section {
    padding: 0 calc(1440px * 0.0833);
    max-width: 1440px;
    width: 100%;
}

.bordered {
    border-top: var(--border);
    border-bottom: var(--border);
}

@media screen and (max-width: 1280px) {
    .section {
        padding: 0 20px;
    }
}
