@font-face {
    font-family: 'Federation';
    src: url('/static/fonts/Federation-Normal.otf');
}
@font-face {
    font-family: 'Federation Bold';
    src: url('/static/fonts/Federation-Bold.otf');
}


:root {
    --font-family: 'Federation', sans-serif;
  
    --font-size: 16px;

    --color-black: #1D1D1D;
    --color-red: #B11818;
    --color-white: #F0F0F0;

    --border: solid 2px var(--color-red);
}

html,
body {
  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: normal;

  font-size: var(--font-size);
  font-family: var(--font-family);
  letter-spacing: 0.05em;
  
  color: var(--color-white);

  background-color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;

  color: var(--color-red);
  transition: color .25s;
}
a:hover {
    color: var(--color-white);
}

img {
    display: block;
}

* {
  box-sizing: border-box;
}

/* SWIPER STYLES */
.swiper-button-disabled {
    opacity: 1 !important;
}

.swiper-button-prev {
    height: 100% !important;
    width: calc(8.33% + 2px) !important;
    margin-top: 0 !important;
    top: auto !important;
    left: 0px !important;
    color: var(--color-red) !important;
    background-color: var(--color-black);
    border-right: var(--border);

    transition: color .25s, background-color .25s;
} 
.swiper-button-prev:hover {
    background-color: var(--color-red) !important;
    color: var(--color-black) !important;
}

.swiper-button-next {
    height: 100% !important;
    width: calc(8.33% + 2px) !important;
    z-index: 11 !important;
    margin-top: 0 !important;
    top: auto !important;
    right: 0px !important;
    color: var(--color-red) !important;
    background-color: var(--color-black);
    border-left: var(--border);

    transition: color .25s, background-color .25s;
}
.swiper-button-next:hover {
    background-color: var(--color-red) !important;
    color: var(--color-black) !important;
}

.swiper-pagination {
    display: none !important;
}

@media screen and (max-width: 1280px) {
    .swiper-button-prev {
        display: none !important;
    }
    .swiper-button-next {
        display: none !important;
    }

    .swiper-pagination {
        display: block !important;
        bottom: 0px !important;
    }
}
